@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@200;400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    width: 50%;
    margin: 0 auto;
}

.logo_border{
    padding: 1.3rem 1.8rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

/* Images */
.bigImage{
    width: 75%;
}
.imgConti{
    margin: 2rem 0;
    text-align: center;
}
/* INFO */

.head{
    font-family: "poppins";
    font-weight: 600;
    margin: 1rem 0;
}
.ptext{
    width: 18rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.texts{
    line-height: .3;
    margin-top: 2rem;
}

/* Footer  */

.star{
    width: .8rem;
}
.text_img{
    font-size: .8rem;
    margin: 0;
}
.qoute{
    font-size: .7rem;
    font-weight: 400;
}
.price{
    font-size: .8rem;
}
.rating_sold{
    font-weight: 300;
}


.container_foot{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    margin-bottom: 4rem;
    position: relative;
}

.badge{
    position: absolute;
    padding: .2rem .3rem;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: bold;
    display: none;
}
.footer_item:hover > .badge{
    display: block;
}









/* For now, this is not adaptive enough*/